<h1>Listing engines</h1>

<table>
  <thead>
    <tr>
      <th>型式</th>
      <th>販売型式</th>
      <th>S/#</th>
      <th>ステータス</th>      
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @engines.each do |engine| %>
      <tr>
        <td><%= engine.engineModelName %></td>
        <td><%= engine.salesModelName %></td>
        <td><%= engine.serialno %></td>
        <td><%= engine.enginestatus.name %></td>
        <td><%= link_to '詳細', engine %></td>
        <td><%= link_to '修正(仮)', edit_engine_path(engine) %></td>
        <td><%= link_to '削除(仮)', engine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td></td>
        <td><%= link_to '到着登録', engine_arrived_path(engine) %></td>
        <td><%= link_to '開始登録(一覧へ)', repairs_path %></td>
        <td><%= link_to '完了登録(一覧へ)', repairs_path  %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Engine', new_engine_path %>
