<p>
  <strong>Enginemodelname:</strong>
  <%= @engine.engine_model_name %>
</p>
<p>
  <strong>serialno:</strong>
  <%= @engine.serialno %>
</p>
<p>
  <strong>Salesmodelname:</strong>
  <%= @engine.sales_model_name %>
</p>
<p>
  <strong>Company:</strong>
  <%= @engine.company.name %>
</p>
<p>
  <strong>Status:</strong>
  <%= @engine.status.name %>
</p>

<%= link_to 'Edit', edit_engine_path(@engine) %> |
<%= link_to 'Back', engines_path %>
