  <div class="field">
      <% if @engine.suspended %>
         ******サスペンド中******
      <% end %>
   </div>

  <div class="field">
  <%= Engine.human_attribute_name('engine_model_name') %>
  <%= @engine.engine_model_name %>
  </div>

  <div class="field">
    <%= Engine.human_attribute_name('serialno') %>
  <%= @engine.serialno %>
  </div>

  <div class="field">
    <%= Company.human_attribute_name('name') %>
  <%= @engine.company.name %>
</div>


  <div class="field">
    <%= Engine.human_attribute_name('status') %>
    <%= @engine.status.name %>
  </div>


<% if current_user.yesOffice? %>
  <%= link_to 'Edit', edit_engine_path(@engine) %> |
<% end %>
<%= link_to 'Back', engines_path %>
