<h1><b>メインメニュー</b></h1>
<br>
<p><%= link_to 'エンジン一覧', engines_path %></p>
<p><%= link_to '流通情報一覧（未実装）', '' %></p>
<p><%= link_to '整備依頼一覧（YES社員様向け）', repairorders_path %></p>
<p><%= link_to '整備作業一覧（整備会社 社員様向け）', repairs_path %></p>
<br>
<b>マスタ管理</b>
<br>
<p><%= link_to '法人', companies_path %></p>
<p><%= link_to '型式', enginemodels_path %></p>
<p><%= link_to 'ビジネスステータス', businessstatuses_path %></p>
<p><%= link_to 'エンジンステータス', enginestatuses_path %></p>
<br>
<b>その他</b>
<br>
<p><%= link_to 'プロファイル', edit_user_registration_path %></p>
<br>
<br>
