<h1>Listing arrivals</h1>

<table>
  <thead>
    <tr>
      <th>Arrivaldate</th>
      <th>Arrivalcomment</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @arrivals.each do |arrival| %>
      <tr>
        <td><%= arrival.arrivalDate %></td>
        <td><%= arrival.arrivalComment %></td>
        <td><%= link_to 'Show', arrival %></td>
        <td><%= link_to 'Edit', edit_arrival_path(arrival) %></td>
        <td><%= link_to 'Destroy', arrival, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Arrival', new_arrival_path %>
