<p>
  <strong>Issueno:</strong>
  <%= @engineorder.issueNo %>
</p>

<p>
  <strong>Inquirydate:</strong>
  <%= @engineorder.inquiryDate %>
</p>

<p>
  <strong>Loginuserid:</strong>
  <%= @engineorder.loginUserId %>
</p>

<p>
  <strong>Branchcode:</strong>
  <%= @engineorder.branchCode %>
</p>

<p>
  <strong>Userid:</strong>
  <%= @engineorder.userId %>
</p>

<p>
  <strong>Placecode:</strong>
  <%= @engineorder.placeCode %>
</p>

<p>
  <strong>Orderer:</strong>
  <%= @engineorder.orderer %>
</p>

<p>
  <strong>Machineno:</strong>
  <%= @engineorder.machineNo %>
</p>

<p>
  <strong>Timeofrunning:</strong>
  <%= @engineorder.timeOfRunning %>
</p>

<p>
  <strong>Changecomment:</strong>
  <%= @engineorder.changeComment %>
</p>

<p>
  <strong>Orderdate:</strong>
  <%= @engineorder.orderDate %>
</p>

<p>
  <strong>Sendingcompanycode:</strong>
  <%= @engineorder.sendingCompanyCode %>
</p>

<p>
  <strong>Sendingcomment:</strong>
  <%= @engineorder.sendingComment %>
</p>

<p>
  <strong>Deliverydate:</strong>
  <%= @engineorder.deliveryDate %>
</p>

<%= link_to 'Edit', edit_engineorder_path(@engineorder) %> |
<%= link_to 'Back', engineorders_path %>
