<p>
  <strong>Issue no:</strong>
  <%= @engineorder.issue_no %>
</p>

<p>
  <strong>Inquiry date:</strong>
  <%= @engineorder.inquiry_date %>
</p>

<p>
  <strong>Registered user:</strong>
  <%= @engineorder.registered_user_id %>
</p>

<p>
  <strong>Updated user:</strong>
  <%= @engineorder.updated_user_id %>
</p>

<p>
  <strong>Branch:</strong>
  <%= @engineorder.branch_id %>
</p>

<p>
  <strong>Salesman:</strong>
  <%= @engineorder.salesman_id %>
</p>

<p>
  <strong>Install place:</strong>
  <%= @engineorder.install_place_id %>
</p>

<p>
  <strong>Orderer:</strong>
  <%= @engineorder.orderer %>
</p>

<p>
  <strong>Machine no:</strong>
  <%= @engineorder.machine_no %>
</p>

<p>
  <strong>Time of running:</strong>
  <%= @engineorder.time_of_running %>
</p>

<p>
  <strong>Change comment:</strong>
  <%= @engineorder.change_comment %>
</p>

<p>
  <strong>Order date:</strong>
  <%= @engineorder.order_date %>
</p>

<p>
  <strong>Sending place:</strong>
  <%= @engineorder.sending_place_id %>
</p>

<p>
  <strong>Sending comment:</strong>
  <%= @engineorder.sending_comment %>
</p>

<p>
  <strong>Desirable delivery date:</strong>
  <%= @engineorder.desirable_delivery_date %>
</p>

<p>
  <strong>Businessstatus:</strong>
  <%= @engineorder.businessstatus_id %>
</p>

<p>
  <strong>New engine:</strong>
  <%= @engineorder.new_engine_id %>
</p>

<p>
  <strong>Old engine:</strong>
  <%= @engineorder.old_engine_id %>
</p>

<%= link_to 'Edit', edit_engineorder_path(@engineorder) %> |
<%= link_to 'Back', engineorders_path %>
