<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @company.category %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @company.postcode %>
</p>

<p>
  <strong>Address:</strong>
  <%= @company.address %>
</p>

<p>
  <strong>Phoneno:</strong>
  <%= @company.phoneNo %>
</p>

<p>
  <strong>Destinationname:</strong>
  <%= @company.destinationName %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
