<%= form_for(@return) do |f| %>
  <% if @return.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@return.errors.count, "error") %> prohibited this return from being saved:</h2>

      <ul>
      <% @return.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :returnDate %><br>
    <%= f.date_select :returnDate %>
  </div>
  <div class="field">
    <%= f.label :returnComment %><br>
    <%= f.text_area :returnComment %>
  </div>
  <div class="field">
    <%= f.label :sendingComment %><br>
    <%= f.text_area :sendingComment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
