<h1>Listing returns</h1>

<table>
  <thead>
    <tr>
      <th>Returndate</th>
      <th>Returncomment</th>
      <th>Sendingcomment</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @returns.each do |return| %>
      <tr>
        <td><%= return.returnDate %></td>
        <td><%= return.returnComment %></td>
        <td><%= return.sendingComment %></td>
        <td><%= link_to 'Show', return %></td>
        <td><%= link_to 'Edit', edit_return_path(return) %></td>
        <td><%= link_to 'Destroy', return, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Return', new_return_path %>
