<h1>エンジン 返却</h1>

<%= form_for(@repairorder) do |f| %>
  <% if @repairorder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@repairorder.errors.count, "error") %> prohibited this repairorder from being saved:</h2>
      <ul>
      <% @repairorder.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Engine Serial No : 
    <%= @repairorder.engine.serialno %><br>
    Engine Model : 
    <%= @repairorder.engine.engineModelName %><br>
  </div>

  <div class="field">
    <%= f.label :issueNo %><br>
    <%= f.text_field :issueNo %>
  </div>
  <div class="field">
    <%= f.label :issueDate %><br>
    <%= f.date_select :issueDate %>
  </div>
  <div class="field">
    <%= f.label :orderNo %><br>
    <%= f.text_field :orderNo %>
  </div>
  <div class="field">
    <%= f.label :constructionNo %><br>
    <%= f.text_field :constructionNo %>
  </div>
  <div class="field">
    <%= f.label :otherBrandPartsArrivealDate %><br>
    <%= f.date_select :otherBrandPartsArrivealDate %>
  </div>
  <div class="field">
    <%= f.label :returnDate %><br>
    <%= f.date_select :returnDate %>
  </div>
  <div class="field">
    <%= f.label :returningComment %><br>
    <%= f.text_area :returningComment %>
  </div>
  <div class="field">
    <%= f.label :sendingComment %><br>
    <%= f.text_area :sendingComment %>
  </div>
  
  <div>
    <%= f.hidden_field :engine_id %>
  </div>

  <div>
    <%= hidden_field_tag 'enginestatus_id', '1' %>
  </div>  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', repairorders_path %>
