<h1>Listing repairorders</h1>
<table>
  <thead>
    <tr>
      <th><%= Repairorder.human_attribute_name('issueNo') %></th>
      <th><%= Repairorder.human_attribute_name('inquiryDate') %></th>
      <th><%= Repairorder.human_attribute_name('branchCode') %></th>
      <th><%= Repairorder.human_attribute_name('userId') %></th>
      <th><%= Repairorder.human_attribute_name('placeCode') %></th>
      <th><%= Repairorder.human_attribute_name('orderer') %></th>
      <th><%= Repairorder.human_attribute_name('machineNo') %></th>
      <th><%= Repairorder.human_attribute_name('timeOfRunning') %></th>
      <th><%= Repairorder.human_attribute_name('changeComment') %></th>
      <th><%= Repairorder.human_attribute_name('businessstatus') %></th>
      <!--
      <th><%= Repairorder.human_attribute_name('sendingCompanycode') %></th>
      <th><%= Repairorder.human_attribute_name('sendingComment') %></th>
      <th><%= Repairorder.human_attribute_name('deliveryDate') %></th>
      <th><%= Repairorder.human_attribute_name('loginUserId') %></th>
      -->
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @repairorders.each do |repairorder| %>
      <tr>
        <td><%= repairorder.issueNo %></td>
        <td><%= repairorder.inquiryDate %></td>
        <td><%= Company.find(repairorder.branchCode).name unless repairorder.branchCode.nil? %></td>
        <td><%= User.find(repairorder.userId).name unless repairorder.userId.nil? %></td>
        <td><%= Company.find(repairorder.placeCode).name unless repairorder.placeCode.nil? %></td>
        <td><%= repairorder.orderer %></td>
        <td><%= repairorder.machineNo %></td>
        <td><%= repairorder.timeOfRunning %></td>
        <td><%= repairorder.changeComment %></td>
        <td><%= Businessstatus.find(repairorder.businessstatus_id).name unless repairorder.businessstatus_id.nil? %></td>
<!--
        <td><%= repairorder.sendingCompanyCode %></td>
        <td><%= repairorder.sendingComment %></td>
        <td><%= repairorder.deliveryDate %></td>
        <td><%= User.find(repairorder.loginUserId).name unless repairorder.loginUserId.nil? %></td>
-->
        <td><%= link_to '受注登録', edit_repairorder_path(repairorder) %></td>
        <td>.....</td>

        <td><%= link_to '詳細', repairorder %></td>
        <td><%= link_to '修正(仮)', edit_repairorder_path(repairorder) %></td>
        <td><%= link_to '削除(仮)', repairorder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Repairorder', new_repairorder_path %>
