<p>
  <strong>Issueno:</strong>
  <%= @repairorder.issueNo %>
</p>

<p>
  <strong>Inquirydate:</strong>
  <%= @repairorder.inquiryDate %>
</p>

<p>
  <strong>Loginuserid:</strong>
  <%= User.find(@repairorder.loginUserId).name unless @repairorder.loginUserId.nil? %>
</p>

<p>
  <strong>Branchcode:</strong>
  <%= Company.find(@repairorder.branchCode).name unless @repairorder.branchCode.nil? %>
</p>

<p>
  <strong>Userid:</strong>
  <%= User.find(@repairorder.userId).name unless @repairorder.userId.nil? %>
</p>

<p>
  <strong>Placecode:</strong>
  <%= Company.find(@repairorder.placeCode).name unless @repairorder.placeCode.nil? %>
</p>

<p>
  <strong>Orderer:</strong>
  <%= @repairorder.orderer %>
</p>

<p>
  <strong>Machineno:</strong>
  <%= @repairorder.machineNo %>
</p>

<p>
  <strong>Timeofrunning:</strong>
  <%= @repairorder.timeOfRunning %>
</p>

<p>
  <strong>Changecomment:</strong>
  <%= @repairorder.changeComment %>
</p>

<p>
  <strong>Sendingcompanycode:</strong>
  <%= @repairorder.sendingCompanyCode %>
</p>

<p>
  <strong>Sendingcomment:</strong>
  <%= @repairorder.sendingComment %>
</p>

<p>
  <strong>Deliverydate:</strong>
  <%= @repairorder.deliveryDate %>
</p>
<!--
<p>
  <strong>Businessstatus:</strong>
  <%= @repairorder.businessstatus_id %>
</p>
-->
<%= link_to 'Edit', edit_repairorder_path(@repairorder) %> |
<%= link_to 'Back', repairorders_path %>
