<%= form_for(@inquiry) do |f| %>
  <% if @inquiry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inquiry.errors.count, "error") %> prohibited this inquiry from being saved:</h2>

      <ul>
      <% @inquiry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :loginUserId %><br>
    <% @inquiry.loginUserId = current_user.id %>
    <%= current_user.name %>
    <%= f.hidden_field :loginUserId %>
  </div>
  <div class="field">
    <%= f.label :branchCode %><br>
    <%= f.collection_select( :branchCode, Company.all, :id, :name, :include_blank => false ) %>
<!--
    <%= f.number_field :branchCode %>
-->
  </div>
  <div class="field">
    <%= f.label :userId %><br>
    <%= f.collection_select( :userId, User.all, :id, :name, :include_blank => false ) %>
  </div>
  <div class="field">
    <%= f.label :placeCode %><br>
    <%= f.collection_select( :placeCode, Company.all, :id, :name, :include_blank => false ) %>
    <!--
    <%= f.number_field :placeCode %>
    -->
  </div>
  <div class="field">
    <%= f.label :orderer %><br>
    <%= f.text_field :orderer %>
  </div>
  <div class="field">
    <%= f.label :machineNo %><br>
    <%= f.text_field :machineNo %>
  </div>
  <div class="field">
    <%= f.label :timeOfRunning %><br>
    <%= f.number_field :timeOfRunning %>
  </div>
  <div class="field">
    <%= f.label :dayOfTest %><br>
    <%= f.date_select :dayOfTest %>
  </div>
  <div class="field">
    <%= f.label :changeComment %><br>
    <%= f.text_area :changeComment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
