<p>
  <strong>Loginuserid:</strong>
  <%= User.find(@inquiry.loginUserId).name %>
  </p>

<p>
  <strong>Branchcode:</strong>
 <%= Company.find(@inquiry.branchCode).name %>
</p>

<p>
  <strong>Userid:</strong>
   <%= User.find(@inquiry.userId).name %>
</p>

<p>
  <strong>Placecode:</strong>
  <%= Company.find(@inquiry.placeCode).name %>
</p>

<p>
  <strong>Orderer:</strong>
  <%= @inquiry.orderer %>
</p>

<p>
  <strong>Machineno:</strong>
  <%= @inquiry.machineNo %>
</p>

<p>
  <strong>Timeofrunning:</strong>
  <%= @inquiry.timeOfRunning %>
</p>

<p>
  <strong>Dayoftest:</strong>
  <%= @inquiry.dayOfTest %>
</p>

<p>
  <strong>Changecomment:</strong>
  <%= @inquiry.changeComment %>
</p>

<%= link_to 'Edit', edit_inquiry_path(@inquiry) %> |
<%= link_to 'Back', inquiries_path %>
