<%= form_for(@repair) do |f| %>
  <% if @repair.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@repair.errors.count, "error") %> prohibited this repair from being saved:</h2>

      <ul>
      <% @repair.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Engine Serial # : 
    <%= @repair.engine.serialno %><br>
    Engine Model : 
    <%= @repair.engine.engineModelName %><br>
  </div>
  <div class="field">
    <%= f.label :issueNo %><br>
    <%= f.text_field :issueNo %>
  </div>
  <div class="field">
    <%= f.label :issueDate %><br>
    <%= f.date_select :issueDate %>
  </div>
  <div class="field">
    <%= f.label :arriveDate %><br>
    <%= f.date_select :arriveDate %>
  </div>
  <div class="field">
    <%= f.label :startDate %><br>
    <%= f.date_select :startDate %>
  </div>
  <div class="field">
    <%= f.label :finishDate %><br>
    <%= f.date_select :finishDate %>
  </div>
  <div class="field">
    <%= f.label :beforeComment %><br>
    <%= f.text_area :beforeComment %>
  </div>
  <div class="field">
    <%= f.label :afterComment %><br>
    <%= f.text_area :afterComment %>
  </div>  
  <div>
    <%= f.hidden_field :engine_id %>
  </div>
    <div>
    <%= hidden_field_tag 'enginestatus_id', '1' %>
  </div>  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
