<%= form_for(@repair) do |f| %>
  <% if @repair.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@repair.errors.count, "error") %> prohibited this repair from being saved:</h2>

      <ul>
      <% @repair.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'engineInfo' %>
  
 <div class="field">
    <%= f.label :issue_no %><br>
    <%= f.text_field :issue_no, :disabled=>'true' %>
  </div>
  <div class="field">
    <%= f.label :issue_date %><br>
    <%= f.text_field :issue_date %>
  </div>
  <div class="field">
    <%= f.label :arrive_date %><br>
    <%=  f.date_select :arrive_date %>
  </div>
  <div class="field">
    <%= f.label :order_no %><br>
    <%= f.text_field :order_no %>
  </div>
  <div class="field">
    <%= f.label :order_date %><br>
    <%= f.text_field :order_date %>
  </div>
  <div class="field">
    <%= f.label :construction_no %><br>
    <%= f.text_field :construction_no %>
  </div>
  <div class="field">
    <%= f.label :desirable_finish_date %><br>
    <%= f.date_select :desirable_finish_date %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :estimated_finish_date %><br>
    <%= f.date_select :estimated_finish_date %>
  </div>
  <div class="field">
    <%= f.label :before_comment %><br>
    <%= f.text_area :before_comment %>
  </div>
  <div class="field">
    <%= f.label :finish_date %><br>
    <%= f.date_select :finish_date %>
  </div>
  <div class="field">
    <%= f.label :after_comment %><br>
    <%= f.text_area :after_comment %>
  </div>
  <div>
    <%= hidden_field_tag 'enginestatus_id', '3' %>
  </div>  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<%= link_to 'Back', repairs_path %>
