<h1>受領</h1>

<%= form_for(@repair) do |f| %>
  <% if @repair.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@repair.errors.count, "error") %> prohibited this repair from being saved:</h2>

      <ul>
      <% @repair.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    エンジン S/# : 
    <%= @repair.engine.serialno %><br>
    型式 : 
    <%= @repair.engine.engineModelName %><br>
  </div>
  <div class="field">
    <%= f.label :issueNo %><br>
    <%= f.text_field :issueNo %>
  </div>
  <div class="field">
    <%= f.label :issueDate %><br>
    <%= f.date_field :issueDate %>
  </div>
  <div class="field">
    <%= f.label :timeOfRunning %><br>
    <%= f.number_field :timeOfRunning %>
  </div>
  <div class="field">
    <%= f.label :dayOfTest %><br>
    <%= f.date_field :dayOfTest %>
  </div>
  <div class="field">
    <%= f.label :yearsOfUse %><br>
    <%= f.number_field :timeOfRunning %>
  </div>
  <div class="field">
    <%= f.label :arrivalDate %><br>
    <%= f.date_field :arriveDate %>
  </div>
  <div>
    <%= f.hidden_field :engine_id %>
  </div>  
  <div>
    <%= hidden_field_tag 'enginestatus_id', '1' %>
  </div>  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<%= link_to 'Back', repairs_path %>
