<h1>整備作業一覧</h1>

<table>
  <thead>
    <tr>
      <th>発行番号</th>
      <th>発行日</th>
      <th>到着日</th>
      <th>完成希望日</th>
      <th>整備開始日</th>
      <th>整備完了日</th>
      <th>出荷日</th>
      <th>返却日</th>
      <th>返却コメント</th>
      <th>整備前コメント</th>
      <th>完成品コメント</th>
      <th>型式</th>
      <th>S/#</th>
      <th>ステータス</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @repairs.each do |repair| %>
      <tr>
        <td><%= repair.issue_no %></td>
        <td><%= repair.issue_date %></td>
        <td><%= repair.arrive_date %></td>
        <td><%= repair.desirable_finish_date %></td>
        <td><%= repair.start_date %></td>
        <td><%= repair.finish_date %></td>
        <td><%= repair.shipped_date %></td>
        <td><%= repair.returning_date %></td>
        <td><%= repair.returning_comment %></td>
        <td><%= repair.before_comment %></td>
        <td><%= repair.after_comment %></td>
        <td><%= repair.engine.engine_model_name %></td>
        <td><%= repair.engine.serialno %></td>
        <td><%= repair.engine.enginestatus.name %></td>
        <td><%= link_to '整備依頼', order_repair_path(repair) %></td>
        <td><%= link_to '開始登録', start_repair_path(repair) %></td>
        <td><%= link_to '完了登録', finish_repair_path(repair) %></td>
        <td>
          <% if repair.engine.beforeShipping? %>
            <%= link_to '出荷登録', shipped_path(repair.engine.current_order_as_new) %>
          <% end %>
        </td>
        <td>.....</td>
        <td><%= link_to '詳細', repair %></td>
        <td><%= link_to '訂正(仮)', edit_repair_path(repair) %></td>
        <td><%= link_to '削除(仮)', repair, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
