<h1>整備作業一覧</h1>

<table>
  <thead>
    <tr>
      <th>発行番号</th>
      <th>発行日</th>
      <th>到着日</th>
      <th>整備開始日</th>
      <th>整備完了日</th>
      <th>整備前コメント</th>
      <th>完成品コメント</th>
      <th>型式</th>
      <th>S/#</th>
      <th>ステータス</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @repairs.each do |repair| %>
      <tr>
        <td><%= repair.issueNo %></td>
        <td><%= repair.issueDate %></td>
        <td><%= repair.arriveDate %></td>
        <td><%= repair.startDate %></td>
        <td><%= repair.finishDate %></td>
        <td><%= repair.beforeComment %></td>
        <td><%= repair.afterComment %></td>
        <td><%= repair.engine.engineModelName %></td>
        <td><%= repair.engine.serialno %></td>
        <td><%= repair.engine.enginestatus.name %></td>
        <td><%= link_to '開始登録', start_repair_path(repair) %></td>
        <td><%= link_to '完了登録', finish_repair_path(repair) %></td>
        <td>.....</td>
        <td><%= link_to '詳細', repair %></td>
        <td><%= link_to '編集(仮)', edit_repair_path(repair) %></td>
        <td><%= link_to '削除(仮)', repair, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
