<h1>整備依頼</h1>

<%= form_for(@repair) do |f| %>
  <% if @repair.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@repair.errors.count, "error") %> prohibited this repair from being saved:</h2>
      <ul>
      <% @repair.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= render 'engineInfo' %>

  <div class="field">
    <%= f.label :issueNo %><br>
    <%= f.text_field :issueNo, :disabled=>'true' %>
  </div>
  <div class="field">
    <%= f.label :issueDate %><br>
    <%= f.text_field :issueDate, :disabled=>'true' %>
  </div>
  <div class="field">
    <%= f.label :timeOfRunning %><br>
    <%= f.number_field :timeOfRunning %>
  </div>
  <div class="field">
    <%= f.label :dayOfTest %><br>
    <%= f.date_field :dayOfTest %>
  </div>
  <div class="field">
    <%= f.label :yearsOfUse %><br>
    <%= f.number_field :timeOfRunning %>
  </div>
  <div class="field">
    <%= f.label :arriveDate %><br>
    <%=  f.date_field :arriveDate %>
  </div>

  <div class="field">
    <%= f.label :orderNo %><br>
    <%= f.text_field :orderNo %>
  </div>
  <div class="field">
    <%= f.label :orderDate %><br>
    <%= f.date_field :orderDate %>
  </div>
  <div class="field">
    <%= f.label :constructionNo %><br>
    <%= f.text_field :constructionNo %>
  <div class="field">
    <%= f.label :desirableFinishDate %><br>
    <%= f.date_field :desirableFinishDate %>
  </div>

  <div>
    <%= hidden_field_tag 'enginestatus_id', '1' %>
  </div>  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', repairs_path %>
