<p>
  <strong>Issueno:</strong>
  <%= @repair.issue_no %>
</p>

<p>
  <strong>Issuedate:</strong>
  <%= @repair.issue_date %>
</p>

<p>
  <strong>Arrivedate:</strong>
  <%= @repair.arrive_date %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @repair.start_date %>
</p>

<p>
  <strong>Finishdate:</strong>
  <%= @repair.finish_date %>
</p>

<p>
  <strong>Beforecomment:</strong>
  <%= @repair.before_comment %>
</p>

<p>
  <strong>Aftercomment:</strong>
  <%= @repair.after_comment %>
</p>

<%= link_to 'Edit', edit_repair_path(@repair) %> |
<%= link_to 'Back', repairs_path %>
