<h1>Listing returnings</h1>

<table>
  <thead>
    <tr>
      <th>Returndate</th>
      <th>Returningcomment</th>
      <th>Sendingcomment</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @returnings.each do |returning| %>
      <tr>
        <td><%= returning.returnDate %></td>
        <td><%= returning.returningComment %></td>
        <td><%= returning.sendingComment %></td>
        <td><%= link_to 'Show', returning %></td>
        <td><%= link_to 'Edit', edit_returning_path(returning) %></td>
        <td><%= link_to 'Destroy', returning, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Returning', new_returning_path %>
